<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBC662871F33B24900A31DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC662A11F33B24C00A31DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC662AC1F33B24C00A31DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
